<strong>Olá, {{deliveryman}}</strong>
<p>Há uma nova entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{recipient.name}}<br />
  <strong>Produto: </strong>{{order.product}}<br />
  <strong>local:</strong> {{recipient.street}}, {{recipient.number}}, {{recipient.complement}}, {{recipient.city}}, {{recipient.state}}, {{recipient.cep}}<br />
  <br />
  <small>
    O produto já pode ser retirado de 8h às 18h.
  </small>
</p>
